# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(qcom_cdsprpcd, 1.0)


type qcom_cdsprpcd_t;
type qcom_cdsprpcd_exec_t;

init_daemon_domain(qcom_cdsprpcd_t, qcom_cdsprpcd_exec_t)

allow qcom_cdsprpcd_t self:unix_dgram_socket { create_socket_perms };
qcom_cdsp_secure_read_device(qcom_cdsprpcd_t);
dev_read_system_dmabuf(qcom_cdsprpcd_t)

init_search_runtime(qcom_cdsprpcd_t)
logging_send_syslog_msg(qcom_cdsprpcd_t)

dev_watch_dev_dirs(qcom_cdsprpcd_t)
libs_watch_shared_libs_dirs(qcom_cdsprpcd_t)

miscfiles_read_localization(qcom_cdsprpcd_t)

