#Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
#SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>location hal daemon</summary>

########################################
## <summary>
##    Generic rules for location clients.
## </summary>
## <desc>
##    <p>
##    Generic rules for location clients. Single
##    macro to include to all location client
##    related rules.
##    </p>
## </desc>
## <param name="domain">
##    <summary>
##    Generic rules for location clients.
##    </summary>
## </param>
#
interface(`qcom_loc_locclient_generic_rules',`
    gen_require(`
        type qcom_loc_hal_daemon_t, qcom_loc_sock_t, qcom_loc_data_t;
    ')
    qcom_loc_read_loc_data_files($1);
    qcom_loc_read_loc_etc_files($1);
    manage_sock_files_pattern($1, qcom_loc_sock_t, qcom_loc_sock_t);
    manage_lnk_files_pattern($1, qcom_loc_sock_t, qcom_loc_sock_t);
    dgram_send_pattern($1, qcom_loc_sock_t, qcom_loc_sock_t, qcom_loc_hal_daemon_t);
    allow qcom_loc_hal_daemon_t $1:unix_dgram_socket sendto;
')

########################################
## <summary>
##       Util interface for adding sendto permission for unix_dgram_socket for location hal daemon services domain.
## </summary>
## <desc>
##    <p>
##    Allow the specified domain with sendto permission to unix_dgram_socket for location hal daemon services domain.
##    </p>
## </desc>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
## <param name="type">
##      <summary>
##      File type allowed to read/write
##      </summary>
## </param>
#
interface(`qcom_loc_haldaemon_unix_dgram_sendto',`
    gen_require(`
        type qcom_loc_hal_daemon_t;
    ')
    allow $1 qcom_loc_hal_daemon_t:unix_dgram_socket sendto;
')

########################################
## <summary>
##  Allow systemd initrc to get status of location hal daemon service
## </summary>
## <param name="domain">
##  <summary>
##      Domain allowed access.
##  </summary>
## </param>
#
interface(`qcom_loc_hal_daemon_service_get_status',`
    gen_require(`
        type qcom_loc_hal_daemon_exec_t;
        class service status;
    ')
    allow $1 qcom_loc_hal_daemon_exec_t:service status;
')
