# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(qcom_adsprpcd,1.0)

########################################
#
# Declarations


type qcom_adsprpcd_t;
type qcom_adsprpcd_exec_t;

init_daemon_domain(qcom_adsprpcd_t, qcom_adsprpcd_exec_t)

allow qcom_adsprpcd_t self:unix_dgram_socket { create_socket_perms };
qcom_adsp_secure_read_device(qcom_adsprpcd_t);
dev_read_system_dmabuf(qcom_adsprpcd_t)

init_search_runtime(qcom_adsprpcd_t)
logging_send_syslog_msg(qcom_adsprpcd_t)

dev_watch_dev_dirs(qcom_adsprpcd_t)
libs_watch_shared_libs_dirs(qcom_adsprpcd_t)

miscfiles_read_localization(qcom_adsprpcd_t)
