#Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
#SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>Wcnss package</summary>

########################################
## <summary>
##    manage log files in /var/persist
##    and cnss_diag.conf in /etc
## </summary>
## <desc>
##    <p>
##    Allow the specified domain to create log
##    files in /var/persist and create/read
##    cnss_diag.conf in /etc
##    </p>
## </desc>
## <param name="domain">
##    <summary>
##    Domain allowed access for wlan log files.
##    </summary>
## </param>
#

interface(`qcom_wcnss_manage_persist',`
    gen_require(`
        type qcom_wcnss_var_t, qcom_wcnss_etc_t, qcom_persist_t;
    ')
    filetrans_pattern($1, qcom_persist_t, qcom_wcnss_var_t, { file dir })
    allow $1 qcom_wcnss_var_t:dir {manage_dir_perms};
    allow $1 qcom_wcnss_var_t:file {manage_file_perms};
    allow $1 qcom_wcnss_etc_t:file {manage_file_perms};
')

########################################
## <summary>
##    Allow mount to manage qcom_wcnss_etc_t
## </summary>
## <desc>
##    <p>
##    Allow mount to manage qcom_wcnss_etc_t
##    </p>
## </desc>
## <param name="domain">
##    <summary>
##    Domain allowed access for qcom_wcnss_etc_t files.
##    </summary>
## </param>
#
interface(`qcom_wcnss_etc_manage_mount',`
    gen_require(`
        type qcom_wcnss_etc_t;
    ')
    allow $1 qcom_wcnss_etc_t:file {getattr open append create read };
')
