# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

[Unit]
SourcePath=/etc/initscripts/post_boot.sh
Description=QCOM postboot service

[Service]
ExecStart=/etc/initscripts/post_boot.sh

[Install]
WantedBy=multi-user.target
