# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## location tech related rules
qcom_loc_read_loc_sock_files(initrc_t)
# add rules for default lca client app to work
qcom_loc_locclient_generic_rules(initrc_t);
