# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

########################################
## <summary>
##      Allow domain to map.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`core_cmd_allow_mmap_exec_shell',`
        gen_require(`
                type shell_exec_t;
        ')

        corecmd_list_bin($1)
        allow $1 shell_exec_t:file mmap_exec_file_perms;
')
