# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

########################################
## <summary>
##      Allow ostree  permissions for link,setattr,write on all type of files
##      resources 
## </summary>
#
#
