# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

########################################
## <summary>
##     Allow read permissions for systemd_backlight
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed to read systemd_backlight.
##      </summary>
## </param>
#
interface(`systemd_backlight_dir_read',`
    gen_require(`
        type systemd_backlight_var_lib_t;
    ')
    allow $1 systemd_backlight_var_lib_t:dir read;
')

#######################################
## <summary>
##  Allow domain to read systemd_resolved_runtime dir
## </summary>
## <param name="domain">
##      <summary>
##      domain allowed access
##      </summary>
## </param>
#
interface(`systemd_read_dir_resolved_runtime',`
        gen_require(`
                type systemd_resolved_runtime_t;
        ')

        allow $1 systemd_resolved_runtime_t:dir read;
')

#######################################
## <summary>
##  Allow domain to watch systemd_resolved_runtime dir
## </summary>
## <param name="domain">
##      <summary>
##      domain allowed access
##      </summary>
## </param>
#
interface(`systemd_watch_dir_resolved_runtime',`
        gen_require(`
                type systemd_resolved_runtime_t;
        ')

        allow $1 systemd_resolved_runtime_t:dir watch;
')
