# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

# allow systemd-tmpfiles to create location data and socket dirs.
qcom_loc_create_loc_sock_dirs(systemd_tmpfiles_t)
qcom_loc_create_loc_data_dirs(systemd_tmpfiles_t)
fs_relabelfrom_tmpfs_dirs(systemd_tmpfiles_t)
# tmpfiles does initial setup on behalf of other daemons, so exempt
#  this from mls range constraints.
mls_file_relabel(systemd_tmpfiles_t)
mls_file_read_all_levels(systemd_tmpfiles_t)
mls_file_write_all_levels(systemd_tmpfiles_t)
mls_file_upgrade(systemd_tmpfiles_t)
mls_file_downgrade(systemd_tmpfiles_t)

#systemd-journal catalog functionality
files_map_etc_files(systemd_tmpfiles_t)
fs_relabelfrom_tmpfs_dirs(systemd_tmpfiles_t)

# allow systemd-tmpfiles to create location data and socket dirs.
qcom_loc_create_loc_sock_dirs(systemd_tmpfiles_t)
qcom_loc_create_loc_data_dirs(systemd_tmpfiles_t)

allow systemd_modules_load_t  self:key manage_key_perms;
kernel_read_kernel_sysctls(systemd_backlight_t)

