# Copyright (c) 2020 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#

[Unit]
Description=BTNVTool Service
After=leprop.service
Requires=leprop.service
SourcePath=/etc/initscripts/start_btnvtool.sh

[Service]
ExecStart=/etc/initscripts/start_btnvtool.sh
Restart=no
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
