# Copyright (c) 2023-2024 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

[Unit]
Description=Qwesd Service
SourcePath=/usr/bin/qwesd
After=qteesupplicant.service sfsconfig.service
Wants=qteesupplicant.service sfsconfig.service

[Service]
User=system
Group=system
Restart=always
AmbientCapabilities=CAP_BLOCK_SUSPEND CAP_WAKE_ALARM
RemainAfterExit=yes
ExecStartPre=+/bin/sh /etc/initscripts/qwes_license_store
ExecStartPre=+restorecon -R /var/persist/qtee_supplicant
ExecStartPre=+restorecon -R /var/cache/qwes
ExecStart=/usr/bin/qwesd
ExecStartPost=+/bin/sh -c 'echo -n \"Qwesd Service Completed\" > /dev/kmsg'

[Install]
WantedBy=multi-user.target
