# Copyright (c) 2017, 2023-2024 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

[Unit]
Description=sfs configuration Service
SourcePath=/etc/initscripts/sfs_config
After=local-fs.target remove-var-tmp-symlink.service

[Service]
Restart=no
RemainAfterExit=yes
ExecStart=/etc/initscripts/sfs_config
ExecStop=/etc/initscripts/sfs_config

[Install]
WantedBy=multi-user.target
