# Copyright (c) 2023 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

 [Unit]
 Description=ssgtzd Service
 SourcePath=/usr/bin/ssgtzd
 After=qseecomd.service

 [Service]
 AmbientCapabilities=CAP_BLOCK_SUSPEND
 CapabilityBoundingSet=CAP_BLOCK_SUSPEND
 Restart=always
 RemainAfterExit=yes
 ExecStart=/usr/bin/ssgtzd
 ExecStartPost=/bin/sh -c 'echo -n \"ssgtzd Service started\" > /dev/kmsg'

 [Install]
 WantedBy=multi-user.target
