# Copyright (c) 2024 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

 [Unit]
 Description=ssgtzd Service
 SourcePath=/usr/bin/ssgtzd
 After=qteesupplicant.service
 StartLimitIntervalSec=0
 ConditionPathExists=!/dev/kvm

 [Service]
 User=system
 Group=system
 AmbientCapabilities=CAP_BLOCK_SUSPEND
 CapabilityBoundingSet=CAP_BLOCK_SUSPEND
 Restart=always
 RemainAfterExit=yes
 ExecStart=/usr/bin/ssgtzd
 TimeoutSec=5

 [Install]
 WantedBy=multi-user.target
