# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

type qcom_qseecom_heap_dev_t;
dev_node(qcom_qseecom_heap_dev_t)

type qcom_smcinvoke_dev_t;
dev_node(qcom_smcinvoke_dev_t)

type qcom_ufs_bsg_dev_t;
dev_node(qcom_ufs_bsg_dev_t)
