# Copyright (c) 2023-2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>qcom_mountpoints </summary>
## <required val="true">
##	Contains interfaces for qcom mountpoints
## </required>


########################################
## <summary>
##      Search qcom_persist
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed to  do a search and getattr
##      </summary>
## </param>
#
interface(`qcom_persist_dir_search',`
        gen_require(`
                type qcom_persist_t;
        ')

        allow $1 qcom_persist_t:dir search_dir_perms;
')

########################################
## <summary>
##      list/read qcom_persist folder
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed to  do a search ,read,open,lock  dir
##      </summary>
## </param>
#
interface(`qcom_persist_dir_read',`
        gen_require(`
                type qcom_persist_t;
        ')

        allow $1 qcom_persist_t:dir list_dir_perms;
')

########################################
## <summary>
##      this interface will mount qcom_persist
##      to be call only with mount_t
##      made for moduler compatablity
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed to  do a search ,read,open,lock  dir
##      </summary>
## </param>
##
#
interface(`qcom_mounton_persist',`
        gen_require(`
                type qcom_persist_t;
        ')

        allow $1 qcom_persist_t:dir { search_dir_perms mounton };

')


########################################
## <summary>
##      this interface will provide access to /var/coredump
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed to read, write /var/coredump
##      </summary>
## </param>
##
#
interface(`qcom_coredump_read_write',`
        gen_require(`
                type var_coredump_t;
        ')

        allow $1 var_coredump_t:dir manage_dir_perms;
        allow $1 var_coredump_t:file manage_file_perms;
')

########################################
## <summary>
##      Relabel context for files and folders created
##      in /var/persist
## </summary>
## <param name="domain">
##      <summary>
##      Domain wants to relabel objects
##      </summary>
## </param>
## <param name="domain">
##      <summary>
##      Domain to relabel objects
##      </summary>
## </param>
##
#
interface(`qcom_persist_filetrans',`
        gen_require(`
                type qcom_persist_t;
        ')

        filetrans_pattern($1, qcom_persist_t, $2, { file dir })
')
